@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  overflow-y: scroll; /* Show vertical scrollbar */
}

.hover-styled {
  @apply duration-75 hover:shadow-md hover:drop-shadow-lg hover:transition-all
}

.custom-underlined {
  @apply shadow-[0_4px_8px_-8px] shadow-gray-900;
}

/*
.menu-color {
  background-color: #252d3f;
}

:root {
  --fk-max-width-input: 100rem;
}

#__nuxt {
  min-height: 100vh;
}

#keskus {
  min-height: 100vh;
}

.card {
  @apply bg-base-100 opacity-95 shadow-md rounded-md;
}

a {
  @apply text-primary;
}

a:link {
  text-decoration: none;
}
a:link:visited {
  text-decoration: none;
}

.text-muted {
  @apply text-slate-500;
}

.hover-clickable {
  @apply hover:opacity-70;
}*/